#main {
    background-color: rgb(228, 236, 240);
}

#nav{
    background-color: rgb(12, 12, 12);
}
.text {
    font-size:25px;
    font-weight: bold;
}

.card-header {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: rgb(228, 236, 240);
}

.form-control {
    margin-right: 500px;
}

.forecast {
    font-size: 25px;
    font-weight: bold;
}

#col2{
    margin-left: 0px;
    margin-top: 50px;
}

#forecast{
    float: left;
}
/* .fiveday{
    height: 180px;
    width:150px;
    background-color: #027bff; */
}
/* #section{
    margin-left: 350px;
    /* padding-bottom: 40px; */
