#main {
    background-color: rgb(228, 236, 240);
}

#nav{
    background-color: rgb(12, 12, 12);
}
.text {
    font-size:25px;
    font-weight: bold;
}

.card-header {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: rgb(228, 236, 240);
}

.form-control {
    margin-right: 500px;
}

.forecast {
    font-size: 25px;
    font-weight: bold;
}

#fiveday {
    height: 180px;
    width: 150px;
    margin: 12px;
    border: 1px solid blue;
    background-color: #027bff;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}
/* .fiveday{
    height: 180px;
    width:150px;
    background-color: #027bff;
} */
#left-section{
    height: 600px;
}
#right-section{
    height: 600px;
}
